<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Acciones</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <th scope="row"><a href="/products/{{this.id}}">{{this.id}}</a></th>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>
                <a href="/products/edit/{{this.id}}">Edit</a>
                <a href="/products"   onclick="borrarProducto({{this.id}})">Borrar</a>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    function borrarProducto(id) {
        // TODO: fix correct url and location reload
        fetch(`http://192.168.30.107:8080/products/${id}`,
            {    method: "DELETE" })
            {{!-- .then(()=> location.reload()) --}}
        location.href = "/products"
    }
</script>
